@import url('https://fonts.googleapis.com/css?family=Varela+Round&subset=latin-ext');

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0; 
  font-family: 'Varela Round', sans-serif;
}

ul, 
li {
  list-style-type: none;
}
a {
  transition: all 0.25s ease-in-out;
}
p {
  line-height: 1.5;
  color: #545454;
}
